body {
     background-color: white;
     margin-top: 1%;
 }
.box {
    background-color:white;
    padding: 1rem;
    margin-bottom: 3rem;
    color: black;
    font-family: "Apple Color Emoji";
    font-size: 1.2rem;
    text-align: justify;
    height: 100%;
}
h1{
    background: white;
    text-align: center;
}
